<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.raspisanie">

    <application
        android:allowBackup="true"
        android:icon="@drawable/a"
        android:label="Today"
        android:roundIcon="@drawable/_6504_miku_hatsune_katana"
        android:supportsRtl="true"
        android:theme="@style/Theme.Raspisanie">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>